
.cardWinner{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 116px;
    border-radius: 20px;
    
}
.cardWinner img{
    height: 100px;
    border-radius: 20px;
}

.hero{
    border: 1px solid #b91fb29f;
    box-shadow: 1px 1px 12px #ad1fb9;
}

.elite{
    border: 1px solid #3596f09f;
    box-shadow: 1px 1px 12px #278afc;
}

.excellent{
    border: 1px solid #2ad14e9f;
    box-shadow: 1px 1px 12px #1fca44;
}

.common{
    border: 1px solid #ffffff9f;
    box-shadow: 1px 1px 12px #fff;
}




.cardWinner p{
    text-align: center;
    font-weight: 700;
    color: #999898;
    padding-top: 7px;
    font-family: 'Lucida Sans';
}